﻿
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/Login.css">
    <style>
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <div class="input-group">
            <input type="text" placeholder="Correo electrónico" id="email">
        </div>
        <div class="input-group">
            <input type="password" placeholder="Contraseña" id="password">
        </div>
        <div class="btn-group">
            <button id="registro">Registrarse</button>
        </div>
    </div>

    <div id="verification-modal">
        <div id="verification-modal-content">
            <h2>Verificación de Correo</h2>
            <p>Se ha enviado un correo de verificación a tu dirección de correo electrónico. Por favor, verifica tu correo para continuar.</p>
        </div>
    </div>

    <script type="module" src="~/Scripts/registro.js"></script>
</body>
</html>