<!DOCTYPE html>
<html>
<head>
    <title>Registrarse</title>
    <link rel="stylesheet" type="text/css" href="~/css/Register.css">
</head>
<body>
    <div class="register-container">
        <h2>Registrarse</h2>
        <div class="input-group" id="emailInputGroup">
            <input type="email" id="emailInput" placeholder="Correo electrónico">
        </div>
        <div class="input-group" id="passwordInputGroup" style="display: none;">
            <input type="password" id="passwordInput" placeholder="Contraseña">
        </div>
        <div class="btn-group">
            <button class="btn-primary" id="createUserBtn" onclick="crearUsuario()">Crear Usuario</button>
        </div>
    </div>

    <!-- Agrega Firebase al proyecto -->
    <script src="https://www.gstatic.com/firebasejs/9.6.6/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.6/firebase-auth-compat.js"></script>
    <script src="~/Scripts/Register.js"></script>
</body>
</html>
